@import '../../../styles/theme.css';

.button {
    background: var(--primary);
    color: white;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.button:hover {
    background: var(--secondary);
    transform: translateY(-1px);
}

.button:disabled {
    background: #CCC;
    cursor: not-allowed;
}