@import '../../../styles/theme.css';

.input {
    width: 100%;
    padding: var(--spacing-sm);
    border: 2px solid #E5E7EB;
    border-radius: var(--radius);
    transition: all 0.2s;
    font-family: 'Inter', sans-serif;
}

.input:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 3px var(--light);
}